body{
	margin: 0;
	padding: 0;
	background: #1d242c;
}


nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .3s;
	z-index: 1;
}

.black {
	background: rgba(0,0,0,0.8);
	height: 100px;
	padding: 10px 100px;
}

nav .logo{
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 30px;
	transition: .3s;
	color: #fff;
}

nav .black .logo{
	color: #fff;
}

nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li{
	list-style: none;
}

nav ul li a{
	line-height: 80px;
	color: #151515;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
	margin-left: 5px;
}

nav ul li a:hover{
	border-radius: 10px;
	background: #00fa9a;
}

.black ul li a{
	color: #fff;
}

nav ul li a:focus{
	outline: none;
}





header{
	width: 100%;
	height: 800px;
	margin: 0 auto;
	background: url(img/peter-background.png);
}

header h1{
	position: absolute;
	top: 26%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	letter-spacing: 20px;
	font-size: 56px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}








.greeting{
	width: 100%;
	height: 300px;
	background: #002331;
	margin: -50px auto;
	text-align: center;
}

.greeting h1{
	font-size: 38px;
	letter-spacing: 5px;
	color: #fff;
}

.greeting p{
	font-size: 28px;
	color: #fff;
}

.main1{
	width: 100%;
	height: 600px;
	background: url(img/cafe.jpg) no-repeat;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	flex-wrap: wrap;
}

.main1 .box{
	width: 600px;
	height: 500px;
	margin: 50px;
}

.main1 .me{
	background: #fff;
}

.main1 .me h1{
	text-align: center;
	font-size: 38px;
	color: #00fa9a;
}

.main1 .me p{
	font-size: 30px;
	color: #111;
	margin: 50px;
}

.main1 .block{
	width: 600px;
	height: 500px;
}

.main1 .avatar{
	width: 250px;
	height: 400px;
	margin: 40px 40%;
}

.main1 h2{
	color: #00fa9a;
	text-align: center;
}

.main1 img{
	width: 100%;
	height: 100%;
}

.main1 .photo{
	width: 250px;
	height: 400px;
	background: none;
}

.main2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.main2 .box{
	width: 600px;
	height: 500px;
	margin: 50px;
}

.main2 .know{
	background: #002331;
}

.main2 img{
	width: 100%;
	height: 100%;
}

.main2 .know ul{
	display: inline-block;
}

.main2 .know li{
	color: #00fa9a;
	font-size: 28px;
	margin: 50px 30px;

}

.main2 .know h1{
	text-align: center;
	color: #00fa9a;
}

.main2 #photo{
	width: 350px;
	height: 400px;
	margin: 50px;
}



@media screen and (max-width: 600px){
}







.wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.wrapper img{
	width: 100%;
	height: 100%;
}
.wrapper img:hover{
	transform: scale(1.15, 1.15);
	transition: 0.9s;
}
.wrapper img:not(:hover){
	transition: 0.9s;
}
.box{
	overflow: hidden;
	width: 350px;
	height: 350px;
}


footer{
	width: 100%;
	height: 500px;
	background: #111;
	margin: 0 auto;
}